anyio
asgiref
blinker
bs4
certifi
charset-normalizer
click
Flask
h11
httpcore
httpx
idna
itsdangerous
Jinja2
MarkupSafe
pyTelegramBotAPI
python-aliexpress-api
python-telegram-bot
sniffio
requests
soupsieve
sqlparse
telebot
tzdata
urllib3
Werkzeug
gunicorn